div{
  width: 90%;
  height: 50px;
  margin-left: 10%;
  background-color: white;
  border-bottom: 1px solid black;
}

#container.static{
  position: fixed;
  z-index: 99;
  top: 50px;
}

.filler{
  height: 50px;
  display: none;
}

.filler.static{
  display: block;
  opacity: 0;
}



ul{
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
}

li{

  height: 100%;
  float: none;
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1;
  background-color: white;
}

